<%- include ('../../partials/header.ejs') %>
<body>
    <%- include ('../../partials/navbar.ejs') %>
    <form action="">
        <input class="form-control" type="text" name="title" placeholder="defina o titula da categoria">
        <button class="btn btn-primary">Criar</button>
    </form>
</body>
<%- include ('../../partials/footer.ejs') %>
