<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <a class="navbar-brand" href="/">
        BlogPress
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">home</a>
        </li>
        <% categories.forEach(category => { %>

            <li class="nav-item">
                <a class="nav-link" href="/categories/<%=category.slug %>"> <%= category.title %> </a>
            </li>

       <% }) %>
       
    </ul>
    <ul class="navbar-nav ml-auto">
       
        <li class="nav-item">
            <a class="nav-link" href="/users/login">Login</a>
        </li>
    </ul>
</nav>